.c-button {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    margin: 6px;
    min-height: 36px;
    padding: 0px 12px;
    text-transform: uppercase;
    vertical-align: middle;

    
}