$backgrounds-color: #546E7A;
$primary-action-color: #1976D2;
$primary-action-pressed-color: #1565C0;
$disabled-color: #E0E0E0;
$selection-blue-color: #E2F1FC;
$zebra-striping-color: #EEEEEE;
$outline-1-color: #BDBDBD;
$outline-2-color: #9E9E9E;
$text-color: #212121;
